---
layout: default
title: Home
---


<div class="intro-container">
  <div class="intro-text">
    test text diyshfiudshfohdsiuoghdsiohgidsohgoidshgiohdiogdshgods jgdsiohgiohgdshogihdsioghsdoi ghdsiohgiodsh
  </div>
  <img src="{{ site.github.url }}/assets/img/profile.jpeg" alt="Profile picture" class="profile" />
</div>
{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
